.sections-names {
    margin-top: 30px;
}

.cross{
   padding-left: clamp(280px, 69vw, 730px);
}

.tour__images {
    display: flex;
    place-items: center;
}

.slider__links{
    color:#FFFFFF;
    text-decoration: none;
}

.tour__content {
    width: clamp(280px, 70vw, 740px);
}

.tour__slider-button,
.tour__slider-arrow{
    user-select: none;
}

.tour__slider-button:first-child {
    padding-left: clamp(15px, 6vw, 80px);
    padding-right: 13px;
}

.tour__slider-button:last-child {
    padding-left: 13px;
    padding-right: clamp(15px, 6vw, 80px);
}

.tour__all {
    display: grid;
    place-items: center;
}

.tour__info {
    display: flex;
    margin-bottom: 10px;
    white-space: nowrap;
}

.tour__info-number {
    margin-left: clamp(5px, 1.8vw, 15px);
    font-size: 12px;
}

.tour__slider-image {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: clamp(280px, 70vw, 740px);
}

.tour__slider-two-arrow {
    display: flex;
    justify-content: center;
}

.tour__name {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 25px;
}

.tour__name:hover{
    font-weight: 700;
}

.tour__text {
    font-size: 12px;
    font-weight: 400;
    margin-right: clamp(100px, 15vw, 140px);
}

.tour__text-number {
    display: flex;
    justify-content: space-between;
    width: clamp(200px, 70vw, 740px);
}


.tour__act-button{
    display: grid;
    justify-content: center;
}

.tour__button{
    background: rgba(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    border-radius: 8px;
    width: 200px;
    height: 45px;
    font-family: Nunito;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 50px;
    margin-top: clamp(40px, 6vw, 60px);
}

.tour__button:hover{
    font-weight: 700;
    background: #D0C8AD;
    color: #0E1C24;
}

@media (max-width: 699.9px) {

    .tour__slider-button {
        display: none;
    }

    .tour__text {
        margin-right: 0px;
    }

    .tour__text-number {
        display: grid;
    }

    .tour__full-info {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    .tour__info {
        margin-bottom: 0;
    }

    .tour__slider-two-arrow {
        margin-bottom: clamp(40px, 7vw, 60px);
        margin-top: clamp(40px, 7vw, 60px);
    }

    .tour__button {
        margin-bottom: 0px;
    }
}

@media (min-width: 700px) {
    
    .tour__slider-arrow {
        display: none;
    }
}